.header-container{
    /* margin-top: 25px; */
    margin-left: 120px;
    margin-right: 50px;
    /* padding: 10px 30px; */
    border-radius: 10px;
    background: rgba(255, 251, 253, 0.09);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), inset 0px 4px 48px 5px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(15.5px);
}
.logo{
    position: absolute;
    left:-110px;
    top: -20px;
    /* width: 40%; */

}
.nav-container{
    /* margin-left: 100px; */
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px;
    background: rgba(255, 251, 253, 0.09);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), inset 0px 4px 48px 5px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(15.5px); */
}
.left-section{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
}
.nav-links:hover{
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}
.active{
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}
.nav-links:before{
    transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
  transform: scaleX(0.7);
}
.search-bar{
    cursor: pointer;
}
.right-section{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}
.down-arrow{
    margin-bottom: 2px;
}